
body {
    height: 100%;
    height: 100%;
    display: flex;
    max-height: 625px;
    font-size: 20px;
    .wf {
        width: 100%;
    } 
    .hf {
        height: 100%;
    }
    .m-l5 {
        margin-left: 5px
    }
    .p-row-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .p-10 {
        padding: 10px 10px 10px 10px;
    }
    .flex {
        display: flex;
        width: 100%;
        .gold-scal {
            flex: 0 1 .625%;
        }
    }
    .jc-bw {
        justify-content: space-between;
    }
    .ai-fs {
        align-items: flex-start;
    }
}